<div class="col-md-1 col-lg-1 col-xs-1"></div>
<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 form-group form-group-lg no-pd" style="margin-top: 10px; margin-bottom: 10px; padding-left:5px">
    <input class="required floatlabel interaction-choice-control-value-radio-male" id="checkbox_<%= line.identifier %>" required="required" type="checkbox" value="<%= line.identifier %>" name="person[<%= line.identifier %>]">
</div>

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-group form-group-lg no-pd border_bottom_zero" style="margin-top: 10px; margin-bottom: 10px">
<div class="floatlabel-wrapper" style="position:relative">
    <span class="span-text"><%=  line.text %></b></span>
</div>
</div>