<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group form-group-lg no-pd left-buffer" style="margin-top: 10px;margin-bottom: 10px">
	<div class="floatlabel-wrapper" style="position:relative">
	<span class="span-text"> <%= line.text %></span>
	</div>
</div>
<% line.values.each do |value| %>
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
	<input class="required floatlabel interaction-choice-control-value-radio-male" id="radio_yes" required="required" type="radio" value="yes" name="person_4">
	<label class="radio-label" for="radio_yes"><span><%= value %></span></label>
</div>
<% end %>
