<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px">
          <p class="span-text"> <strong>Check all that apply</strong>, and give the amount & how often this person receives this income.<strong> NOTE</strong>: You <strong>do not need to tell us</strong> about child support, veterans payments, or supplemental security income(SSI).*</p>
        </div>