<div class="row">
  <div class="col-md-4">
  <%= radio_button_tag cell.name, cell.value, cell.checked, class: cell.classNames, id: cell.id %>
  </div>
  <div class="col-md-8">
  <%= label_tag cell.id, cell.label %>
  </div>
</div>