<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 10px">
  <span class="span-text"><%= line.text %></span>*</span>
</div>
<% line.values.each do |value| %>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top: 10px">
	  <input class=" " id=" " required=" " type="radio" value=" " name=" ">
	  <label class="radio-label" ><span><%= value %></span></label>
	</div>
<% end %>
<% if line.options.key?('not_sure') and line.options['not_sure'] %>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top: 10px">
	  | &nbsp <a href="<%= line.options['help_link'] %>"> Not Sure? </a>
	</div>
<% end %>