<div class="container">
    <h1 class="darkblue">Personal Info</h1>
    <p>Please enter the following info for <strong> Mary</strong>. When you’ve finished, select CONTINUE.</p>
    <p class="memo">* = required field</p>
    <div id=" " class="focus_effect module">

<%= form_tag send("step_#{@model.class.name.pluralize.underscore}_path") do %>
  <% @current_step.lines.each do |line| %>
  	<div class="row row-form-wrapper no-buffer">
    	<%= render partial: line, locals: { line: line } %>
    </div>
  <% end %>
<% end %>
</div>
</div>